.image1Style{
    width:100%;
    height:100%

}
.image1Style .content{
    position:absolute;
    transform:translate(-50%,-90%);
    top:35%;
    left:50%;
    text-align: center;
}

.image1Style .content h1{
    font-size: 4rem;
    padding:0 0 0.2rem;
}

.image1Style .content p{
    font-size: 1.4rem;
    text-transform:uppercase;
    font-weight: 200;
}

.content .btn{
    margin:1rem 0.2rem;
}

.mask1Style{
    width:100%;
    height:40vh;
    position:relative;
}
.intos-img{
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    animation: fadeIn 1.5s ease-in-out;
    /* animation: zoomIn 1.5s ease-in-out; */
    /* animation: pixelCollect 2s ease-in-out forwards; */
}
.mask1Style::after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-color: #000;
    opacity:0.8;
}

@media screen and (max-width:640px){


    .image1Style .content h1{
        font-size: 3rem;
    }
    
    .image1Style .content p{
        font-size: 1.4rem;
        
    }


}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes pixelCollect {
    0% {
      transform: rotate(360deg) scale(0.1);
      opacity: 0;
      background-size: 0 0; 
    }
    50% {
      transform: rotate(180deg) scale(1.1);
      opacity: 0.5;
      background-size: 100% 100%; 
    }
    100% {
      transform: rotate(0deg) scale(1);
      opacity: 1;
      background-size: cover; 
    }
  }